<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="user id=sa;password=welcome@123;Data Source=(local)\SQLDEVELOPER;Database=qamyprojectlocalSitecore_Core"
   xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="master" connectionString="user id=sa;password=welcome@123;Data Source=(local)\SQLDEVELOPER;Database=qamyprojectlocalSitecore_Master" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="web" connectionString="user id=sa;password=welcome@123;Data Source=(local)\SQLDEVELOPER;Database=qamyprojectlocalSitecore_Web" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="analytics" connectionString="mongodb://localhost/Sitecore_analytics" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="tracking.live" connectionString="mongodb://localhost/Sitecore_tracking_live" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="tracking.history" connectionString="mongodb://localhost/Sitecore_tracking_history" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="tracking.contact" connectionString="mongodb://localhost/Sitecore_tracking_contact" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="reporting" connectionString="user id=sa;password=welcome@123;Data Source=(local)\SQLDEVELOPER;Database=qamyprojectlocalSitecore_Analytics" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
</connectionStrings>