<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<sitecore database="SqlServer" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sc.variable name="dataFolder" value="C:\Inetpub\wwwroot\qamyprojectlocal\Data\" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
</sitecore>